# Diamond numbers pattern

In [17]:
n = int(input("Enter num of rows: "))
count = 1
for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for k in range(count):
        print(i+1, end="")
    count += 2
    print()
count2 = n+n-3
op = n-1
for i in range(n-1):
    for j in range(i+2):
        print(" ", end="")
    for k in range(count2):
        print(op, end="")
    count2 -= 2
    op -= 1
    print()

Enter num of rows: 5
     1
    222
   33333
  4444444
 555555555
  4444444
   33333
    222
     1

In [1]:
n = int(input("Enter num of rows: "))
count = 1
for i in range(n):
    for j in range(n-i):
        print(end=" ")
    for k in range(count):
        print(i+1, end="")
    count += 2
    print()
count2 = n+n-3
op = n-1
for i in range(n-1):
    for j in range(i+2):
        print(" ", end="")
    for k in range(count2):
        print(op, end="")
    count2 -= 2
    op -= 1
    print()

Enter num of rows: 6
      1
     222
    33333
   4444444
  555555555
 66666666666
  555555555
   4444444
    33333
     222
      1